In [1]:
# import the dataset for 2016 rape victims
import pandas as pd
df1 = pd.read_csv('2016 Victims of Rape.csv')
df1["Year"] = [2016 for i in range(len(df1))]
df1.drop(['Cases Reported', 'Category'], axis = 1, inplace = True)
age_dict = {
    'Child Victims of Rape (Below 18 Yrs) - Below 6 Years': '<6',
    'Child Victims of Rape (Below 18 Yrs) - 6 Years & Above - Below 12 Years': '>=6-<12',
    'Child Victims of Rape (Below 18 Yrs) - 12 Years & Above - Below 16 Years': '>=12-<16',
    'Child Victims of Rape (Below 18 Yrs) - 16 Years & Above - Below 18 Years': '>=16-<18',
    'Child Victims of Rape (Below 18 Yrs) - Total Girl /Child Victims': 'Total Child Victims',
    'Women Victims of Rape (Above 18 Yrs) - 18 Years & Above - Below 30 Years': '>=18-<30',
    'Women Victims of Rape (Above 18 Yrs) - 30 Years & Above - Below 45 Years': '>=30-<45',
    'Women Victims of Rape (Above 18 Yrs) - 45 Years & Above - Below 60 Years': '>=45-<60',
    'Women Victims of Rape (Above 18 Yrs) - 60 Years & Above': '>=60',
    'Women Victims of Rape (Above 18 Yrs) - Total Women/Adult Victims': 'Total Adult Victims',
    'Child Victims of Rape (Below 18 Yrs) - 6 Years & Above': '>=6-<12',
    'Child Victims of Rape (Below 18 Yrs) - 12 Years & Above': '>=12-<16',
    'Child Victims of Rape (Below 18 Yrs) - 16 Years & Above': '>=16-<18',
    'State/UT': 'Area'
}
df1.rename(columns = age_dict, inplace = True)
df1.drop([df1.columns[0]], axis = 1, inplace = True)
df1

,Area,<6,>=6-<12,>=12-<16,>=16-<18,Total Child Victims,>=18-<30,>=30-<45,>=45-<60,>=60,Total Adult Victims,Total Victims,Year
0,Andhra Pradesh,14,46,185,296,541,333,121,6,4,464,1005,2016
1,Arunachal Pradesh,1,9,19,13,42,24,5,0,0,29,71,2016
2,Assam,2,44,29,25,100,1291,582,75,0,1948,2048,2016
3,Bihar,0,0,0,0,0,546,68,2,0,616,616,2016
4,Chhattisgarh,47,77,396,614,1134,525,245,14,8,792,1926,2016
5,Goa,4,5,31,16,56,13,6,1,0,20,76,2016
6,Gujarat,0,0,0,2,2,349,125,2,1,477,479,2016
7,Haryana,5,7,73,52,137,692,246,26,3,967,1104,2016
8,Himachal Pradesh,7,18,52,68,145,78,23,5,0,106,251,2016
9,Jammu & Kashmir,1,5,21,16,43,163,88,4,0,255,298,2016
10,Jharkhand,0,2,10,72,84,632,203,8,0,843,927,2016
11,Karnataka,0,0,0,1,1,452,94,9,2,557,558,2016
12,Kerala,32,115,372,566,1085,595,288,42,25,950,2035,2016
13,Madhya Pradesh,50,207,1275,1550,3082,1651,716,104,46,2517,5599,2016
14,Maharashtra,1,2,3,6,12,1428,454,34,17,1933,1945,2016
15,Manipur,0,0,0,2,2,24,15,0,0,39,41,2016
16,Meghalaya,5,18,13,10,46,47,22,4,0,73,119,2016
17,Mizoram,0,0,0,0,0,13,8,2,2,25,25,2016
18,Nagaland,0,0,1,0,1,3,5,0,1,9,10,2016
19,Odisha,2,15,254,1026,1297,737,48,0,0,785,2082,2016
20,Punjab,3,9,55,59,126,310,98,14,2,424,550,2016
21,Rajasthan,7,29,156,320,512,1988,744,71,4,2807,3319,2016
22,Sikkim,0,0,0,0,0,12,4,1,0,17,17,2016
23,Tamil Nadu,0,0,0,0,0,230,44,4,5,283,283,2016
24,Telangana,0,0,0,0,0,502,178,14,5,699,699,2016
25,Tripura,1,0,1,3,5,55,35,5,1,96,101,2016
26,Uttar Pradesh,105,190,713,552,1560,2313,779,9,8,3109,4669,2016
27,Uttarakhand,8,12,71,69,160,189,41,6,1,237,397,2016
28,West Bengal,0,0,0,0,0,799,263,21,1,1084,1084,2016
29,A & N Islands,0,0,0,1,1,8,4,0,0,12,13,2016
30,Chandigarh,3,6,29,7,45,16,4,0,0,20,65,2016
31,D&N Haveli,0,0,0,0,0,1,0,0,0,1,1,2016
32,Daman & Diu,0,2,0,0,2,3,2,0,0,5,7,2016
33,Delhi UT,0,0,0,0,0,871,337,20,3,1231,1231,2016
34,Lakshadweep,0,0,0,0,0,0,0,0,0,0,0,2016
35,Puducherry,0,0,0,0,0,7,0,0,0,7,7,2016

In [2]:
# import the dataset for 2017 rape victims
df2 = pd.read_csv('2017 Victims of Rape.csv')
df2.drop(['Cases Reported', 'Category'], axis = 1, inplace = True)
df2["Year"] = [2017 for i in range(len(df2))]
df2.rename(columns = age_dict, inplace = True)
df2.drop([df2.columns[0]], axis = 1, inplace = True)
df2

,Area,<6,>=6-<12,>=12-<16,>=16-<18,Total Child Victims,>=18-<30,>=30-<45,>=45-<60,>=60,Total Adult Victims,Total Victims,Year
0,Andhra Pradesh,14,46,185,296,541,333,121,6,4,464,1005,2017
1,Arunachal Pradesh,1,9,19,13,42,24,5,0,0,29,71,2017
2,Assam,2,44,29,25,100,1291,582,75,0,1948,2048,2017
3,Bihar,0,0,0,0,0,546,68,2,0,616,616,2017
4,Chhattisgarh,47,77,396,614,1134,525,245,14,8,792,1926,2017
5,Goa,4,5,31,16,56,13,6,1,0,20,76,2017
6,Gujarat,0,0,0,2,2,349,125,2,1,477,479,2017
7,Haryana,5,7,73,52,137,692,246,26,3,967,1104,2017
8,Himachal Pradesh,7,18,52,68,145,78,23,5,0,106,251,2017
9,Jammu & Kashmir,1,5,21,16,43,163,88,4,0,255,298,2017
10,Jharkhand,0,2,10,72,84,632,203,8,0,843,927,2017
11,Karnataka,0,0,0,1,1,452,94,9,2,557,558,2017
12,Kerala,32,115,372,566,1085,595,288,42,25,950,2035,2017
13,Madhya Pradesh,50,207,1275,1550,3082,1651,716,104,46,2517,5599,2017
14,Maharashtra,1,2,3,6,12,1428,454,34,17,1933,1945,2017
15,Manipur,0,0,0,2,2,24,15,0,0,39,41,2017
16,Meghalaya,5,18,13,10,46,47,22,4,0,73,119,2017
17,Mizoram,0,0,0,0,0,13,8,2,2,25,25,2017
18,Nagaland,0,0,1,0,1,3,5,0,1,9,10,2017
19,Odisha,2,15,254,1026,1297,737,48,0,0,785,2082,2017
20,Punjab,3,9,55,59,126,310,98,14,2,424,550,2017
21,Rajasthan,7,29,156,320,512,1988,744,71,4,2807,3319,2017
22,Sikkim,0,0,0,0,0,12,4,1,0,17,17,2017
23,Tamil Nadu,0,0,0,0,0,230,44,4,5,283,283,2017
24,Telangana,0,0,0,0,0,502,178,14,5,699,699,2017
25,Tripura,1,0,1,3,5,55,35,5,1,96,101,2017
26,Uttar Pradesh,105,190,713,552,1560,2313,779,9,8,3109,4669,2017
27,Uttarakhand,8,12,71,69,160,189,41,6,1,237,397,2017
28,West Bengal,0,0,0,0,0,799,263,21,1,1084,1084,2017
29,A & N Islands,0,0,0,1,1,8,4,0,0,12,13,2017
30,Chandigarh,3,6,29,7,45,16,4,0,0,20,65,2017
31,D&N Haveli,0,0,0,0,0,1,0,0,0,1,1,2017
32,Daman & Diu,0,2,0,0,2,3,2,0,0,5,7,2017
33,Delhi UT,0,0,0,0,0,871,337,20,3,1231,1231,2017
34,Lakshadweep,0,0,0,0,0,0,0,0,0,0,0,2017
35,Puducherry,0,0,0,0,0,7,0,0,0,7,7,2017

In [3]:
# import the dataset for 2018 rape victims
df3 = pd.read_csv('2018 Victims of Rape.csv')
df3.drop(['Cases Reported', 'Category'], axis = 1, inplace = True)
df3["Year"] = [2018 for i in range(len(df3))]
age = {
    'Child Victims of Rape (Below 18 Yrs) - Below 6 Years': '<6',
    'Child Victims of Rape (Below 18 Yrs) - Total Girl /Child Victims': 'Total Child Victims',
    'Child Victims of Rape (Below 18 Yrs) - 6 Years & Above ': '>=6-<12',
    'Child Victims of Rape (Below 18 Yrs) - 12 Years & Above ': '>=12-<16',
    'Child Victims of Rape (Below 18 Yrs) - 16 Years & Above ': '>=16-<18',
    'Child Victims of Rape (Below 18 Yrs) - Total Girl/Child Victims': 'Total Child Victims',
    'Women Victims of Rape (Above 18 Yrs) - 18 Years & Above - Below 30 Years': '>=18-<30',
    'Women Victims of Rape (Above 18 Yrs) - 30 Years & Above - Below 45 Years': '>=30-<45',
    'Women Victims of Rape (Above 18 Yrs) - 45 Years & Above - Below 60 Years': '>=45-<60',
    'Women Victims of Rape (Above 18 Yrs) - 60 Years & Above': '>=60',
    'Women Victims of Rape (Above 18 Yrs) - Total Women/Adult Victims': 'Total Adult Victims',
    'State/UT ': 'Area'
}
df3.rename(columns = age, inplace = True)
df3.drop([df3.columns[0]], axis = 1, inplace = True)
df3

,Area,<6,>=6-<12,>=12-<16,>=16-<18,Total Child Victims,>=18-<30,>=30-<45,>=45-<60,>=60,Total Adult Victims,Total Victims,Year
0,Andhra Pradesh,16,57,181,251,505,373,76,14,5,468,973,2018
1,Arunachal Pradesh,4,4,13,11,32,29,9,0,0,38,70,2018
2,Assam,7,24,6,52,89,1043,523,107,5,1678,1767,2018
3,Bihar,0,0,1,3,4,520,111,16,0,647,651,2018
4,Chhattisgarh,41,80,557,541,1219,644,190,42,6,882,2101,2018
5,Goa,0,1,21,12,34,13,11,2,1,27,61,2018
6,Gujarat,0,0,3,4,7,389,144,12,1,546,553,2018
7,Haryana,2,0,0,0,2,969,300,22,3,1294,1296,2018
8,Himachal Pradesh,2,25,85,84,196,101,45,6,1,153,349,2018
9,Jammu & Kashmir,0,6,18,18,42,172,109,5,0,286,328,2018
10,Jharkhand,0,0,6,63,69,798,217,14,0,1029,1098,2018
11,Karnataka,0,0,2,2,4,369,120,3,1,493,497,2018
12,Kerala,48,129,334,645,1156,465,294,43,14,816,1972,2018
13,Madhya Pradesh,54,142,1143,1502,2841,1798,725,75,11,2609,5450,2018
14,Maharashtra,0,0,0,0,0,1524,552,62,11,2149,2149,2018
15,Manipur,0,1,7,9,17,27,7,1,0,35,52,2018
16,Meghalaya,0,4,6,15,25,49,14,1,0,64,89,2018
17,Mizoram,2,12,8,1,23,20,5,1,1,27,50,2018
18,Nagaland,0,0,1,2,3,5,1,1,1,8,11,2018
19,Odisha,0,0,10,27,37,835,47,4,0,886,923,2018
20,Punjab,10,30,151,139,330,381,108,15,3,507,837,2018
21,Rajasthan,17,48,392,575,1032,2263,912,129,1,3305,4337,2018
22,Sikkim,0,0,0,4,4,5,4,3,0,12,16,2018
23,Tamil Nadu,1,1,1,3,6,256,63,6,1,326,332,2018
24,Telangana,0,0,0,0,0,465,123,17,1,606,606,2018
25,Tripura,0,0,0,0,0,73,21,3,0,97,97,2018
26,Uttar Pradesh,67,174,570,600,1411,2235,603,70,3,2911,4322,2018
27,Uttarakhand,3,5,79,186,273,194,101,8,0,303,576,2018
28,West Bengal,0,0,1,3,4,736,310,18,1,1065,1069,2018
29,A & N Islands,0,1,3,10,14,12,3,1,0,16,30,2018
30,Chandigarh,7,13,16,17,53,14,12,7,0,33,86,2018
31,D&N Haveli,0,0,0,0,0,6,1,0,0,7,7,2018
32,Daman & Diu,0,0,1,0,1,2,0,0,0,2,3,2018
33,Delhi UT,0,0,0,0,0,851,345,19,2,1217,1217,2018
34,Lakshadweep,0,0,0,0,0,0,2,0,0,2,2,2018
35,Puducherry,0,0,0,0,0,0,0,0,0,0,0,2018